<body>
<div class="hero">
  <nav class="nav">
    <a href="app">
    <img src="https://media.discordapp.net/attachments/938791417344585738/938794673164656691/unknown.png" class="Header_Logo"  alt="Header_Logo"/>
    </a>
    <ul class="Header_links">
      <li><a href="my-products">My page</a></li>
      <li><a href="products">Products</a></li>
      <li><a href="">Modern</a></li>
      <li><a href="">Sale</a></li>
      <li><a href="">Premium</a></li>
    </ul>
  </nav>
</div>
</body>
<router-outlet></router-outlet>
