.new-button {
  border: none;
  color: black;
  padding: 1px 1pc;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #47476b;
}
